<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<food id="1">
		<category>Завтраки</category>
		<name>Глазунья</name>
		<description>
			2 яйца (на выбор: ветчина, сыр, помидоры)
		</description>
		<weight>150</weight>
		<price></price>
	</food>
	<food id="2">
		<category>Завтраки</category>
		<name>Омлет</name>
		<description>

		</description>
		<weight>100</weight>
		<price></price>
	</food>
	<food id="3">
		<category>Завтраки</category>
		<name>Блинчики с мясом</name>
		<description>
			Жареные блинчики с мясом
		</description>
		<weight>150</weight>
		<price></price>
	</food>
	<food id="4">
		<category>Горячие закуски</category>
		<name>Лобио с шампиньонами</name>
		<description>
			Фасоль с шампиньонами и грецким орехом
		</description>
		<weight>150/5</weight>
		<price>105</price>
	</food>
	<food id="5">
		<category>Холодные закуски</category>
		<name>Ассорти рыбное</name>
		<description>
			Слабосоленая форель, семга
		</description>
		<weight>100/20/15</weight>
		<price></price>
	</food>
</menu>
